@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf)
}