


$color-background: #121616;
$color-modal-overlay:rgba(18, 22, 22, 0.6);
$color-primary: #47D5EB;
$color-primary-hover:#0F7888;
$color-secondary:#6e8386;
$color-text-main: #F9FAFA;
$color-text-secondary: #8b9296;
$color-bars:#293132;
$color-task-card: #1E2424;
$color-modal-task-border:#57686B;
$color-modal-overlay:rgba(29, 29, 29, 0.6);
$color-border-checkbox:#404D4F;
$color-border-task:rgba(87, 104, 107, 0.201);








