.assunto {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    margin: 0 1rem;
    height: 1.2rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    .assunto {
        margin: 0;
        font-weight: normal;
        display: inline;
        font-size: .8rem;
    }

}