.capa {
    background-image: url(../imagens/sim_30.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    width: 140px;
}

.capa-texto {
    color: white;
    font-size: 1.5rem;
    padding: 35% 0 0 1rem;
}

.capa-tema {
    display: inline;
}

.capa-numero {
    color: white;
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
}

.capa-subtitulo {
    color: white;

    font-size: .6rem;
}