.marcador-ano {
    display: block;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: .8rem;
    padding-top: 2vh;
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {
    .marcador.mobile {
        display: inline-block;
        max-width: 30px;
    }

    ul.desabilitado~.marcador.mobile {
        color: #243131;
    }
}