.opcoes-lateral {
    display: block;
    float: right;
    min-width: 6rem;
    height: -webkit-fill-available;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    div.opcoes-lateral {
        display: none;
    }

}