.scroll {
    overflow: auto;
    padding-top: 2px;
    height: 55vh;
}

/* width */
.scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #000d16;
    border: 1px solid rgb(38, 60, 76, .6);
    border-radius: 10px;
}

.scroll.prateleira {
    height: 90vh;
    padding-top: 10vh;
}
