.fancy {
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    padding-top: 10px;
    height: 25px;
}

.fancy span {
    display: inline-block;
    position: relative;
    font-weight: bold;
    background-color: white;
    color: #21334a;
    width: auto;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    margin-top: 0.52em;
    border-top: 1px solid #acadae;
    top: 0;
    width: 900px;
}

.fancy span:before {
    right: 100%;
    margin-right: 0.5em;
}

.fancy span:after {
    left: 100%;
    margin-left: 0.5em;
}