.topo {
    width: -webkit-fill-available;
    display: block;
    text-align: center;
    background-color: #000;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    topo {
        margin-bottom: .5rem;
        height: 5vh;
    }

}