.visualizacao {
    background-image: url(../imagens/bg-deitado.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    background-color: #000;

    float: right;
    height: -webkit-fill-available;
    width: 70%;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    div.visualizacao {
        width: -webkit-fill-available;
        max-height: 100vh;
        background-image: url(../imagens/bg.jpg);
        position: relative;
    }

}