.menu-inferior {
    background-color: transparent;

    position: fixed;
    display: block;
    bottom: 0;
    height: 60px;
    width: 100%;
}


/* -----aba de navegacao---- */
.aba-navegacao {
    width: 100%;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: -30px;
}

.aba-navegacao::after,
.aba-navegacao::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 48px;
    top: 12px;

    background-color: transparent;
}

.aba-navegacao::after {
    left: 4px;
    top: 30px;
    border-bottom-left-radius: 100%;
    box-shadow: 0px -16px 0 -3px #fff inset, -10px 10px #fff;
    z-index: -1;
}

.aba-navegacao::before {
    right: 4px;
    top: 30px;
    border-bottom-right-radius: 100%;
    box-shadow: 0px -16px 0 -3px #fff inset, 10px 10px #fff;
    z-index: -1;
}

.icone-botao-med {
    display: inline-block;

    background-color: orangered;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 5px;
}

.icone-botao-med::after {
    content: "";
    width: 55px;
    height: 55px;
    position: relative;
    display: block;
    z-index: -1;
    top: -43px;
    border-radius: 50%;
    left: -10px;

    background-color: #fff;
    box-shadow: 0px 20px 0 8px #fff;
}
/* ########################### */

/* -----saudacoes----- */

.saudacao-usuario{
    background-color: #fff;
    height: 90px;
    width: 100%;
    top: -25px;
    position: relative;
    padding: 45px 5px 0;
    text-align: center;

    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
}

.saudacao, .usuario {
    display: inline-block;
}
