<mat-card class="card">
  <mat-card-content class="card__content">
    <div class="card__left">
      <mat-checkbox class="card__checkbox"></mat-checkbox>
    </div>
    <div class="card__right">
      <div class="card__title">
        <p class="card__title-text">{{title()}}</p>
      </div>
      <div class="card__details">
        <div class="card__icon">
          <!-- <icon></icon> -->
        </div>
        <div class="card__category">
          <p class="card__category-text">{{category()}}</p>
        </div>
        <div class="card__time">
          <p class="card__time-text">{{schedule()}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
