<div *ngIf="simulator" class="simulator-details">
    <h2 class="simulator-title">
        {{simulator.simulator.name}} - {{simulator.type.name}}
    </h2>
    <p class="simulator-observation">
        Os resultados do simulado são atualizados diariamente, na medida em que os
        cartões-resposta e as provas discursivas vão sendo são processados.
        <br/><br/>
        Através dos filtros, você poderá criar rankings personalizados, por ESPECIALIDADE,
        TURMA(Curso) e UNIDADE (Cidade).
    </p>
</div>