:host {
    .simulator-details {
        margin-left: 4rem;
        font-size: .9rem;

        .simulator-title {
            text-transform: uppercase;
            margin: 0;
            font-weight: 400;
        }

    }
}