* {
    margin: 0;
    padding: 0;
    border: 0;
}

.principal {
    width: 100%;
    padding-left: 10px;
    font-family: sans-serif;
}

.menu {
    background-color: #fff;

    display: block;
    float: left;
    width: 30%;
    height: -webkit-fill-available;
}

.visualizacao {
    float: right;
    width: 70%;
    height: -webkit-fill-available;

    background-image: url(../imagens/bg-deitado.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    background-color: #000;
}

.icone {
    background-color: #d58650;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin: 35px 0px 0px 20px;
}

.usuario {
    color: #acadae;
    font-weight: bold;

    padding: 2vw;
}

.usuario::before {
    content: "Olá,";
    display: block;
}

ul {
    list-style-type: none;
}

.atalhos {
    padding: 0 2vw;
}

.atalhos .grupo {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;

    margin-bottom: .8rem;
}

.atalhos .icone {
    background-color: #fff;
    display: inline;
    margin: 0 1rem 0 0;
    padding: 0;
    border-radius: 0;
    max-width: 25px;
    max-height: 25px;
}

.atalhos .link {
    color: #414141;
    font-weight: bold;

    padding: .1rem;
    margin-left: 1rem;
}

hr {
    border-style: inset;
    opacity: .2;
    border-width: 1px;

    margin: 1rem 0;
}


.opcoes-lateral {
    display: block;
    float: right;
    min-width: 6rem;
    height: -webkit-fill-available;
}

.saida {
    color: #fff;
    font-size: .6rem;
    text-align: right;
    padding: 0 5px;
}

.mensagem{
    color: #fff;
    padding: .5rem;
    font-size: 1.2rem;
}


.topo {
    width: -webkit-fill-available;
    display: block;
    text-align: center;
}

.selecao-curso {
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.selecao-curso:active,
option:active,
option,
option::selection {
    background-color: #000;
    color: #fff;
}

.abas {
    padding-bottom: .5rem;
    line-height: 1;
    z-index: 0;
    text-align: center;
}

div.abas>div {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    margin: 0 2rem;
    height: 1.2rem;
}

div.abas>div:hover {
    margin-bottom: 3px;
    border-bottom: 2px solid #38d2f3;
}

.apostilas {
    height: -webkit-fill-available;
    display: block;
    padding: 0 6rem;
}