@import "project-variables.less";
@import "bootstrap/bootstrap.less";

@import "header.less";

#disclaimer{
    h1{
        font-size:2em;
    }
    float: right;
}

.input-registration{
    background-color: gray;
    margin-top: 20px;
    font-weight: bold;
}