<app-header></app-header>
<div class="content">
  <div class="container">
    <button class="accordion">oftalmo</button>
    <div class="container-realiza">
      <div class="accordion-content">
        <div class="total-questoes">
            <div class="total-questoes__circle">
              <span class="total-questoes__text">Total de <span class="total-questoes__text-number">100 </span>questões</span>
            </div>
        </div>
        <div class="status-ranking">
          <ul class="status-ranking__itens">
            <li class="status-ranking__item">
              <span class="status-ranking__texto-acerto">Acertos</span>
              <span class="status-ranking__nota-acertos">0</span>
            </li>
            <li class="status-ranking__item">
              <span class="status-ranking__texto-erros">Erros</span>
              <span class="status-ranking__nota-erros">0</span>
            </li>
            <li class="status-ranking__item">
              <span class="status-ranking__texto-realizacao">Não Realizados</span>
              <span class="status-ranking__nota-realizacao">0</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-escala">
        <div class="container-escala__menos"><span class="container-escala__font">-</span></div>
        <div class="container-escala__text">Sua prova possui <span class="container-escala__n-questoes">100 questões</span> <span class="container-escala__text-final">de um total de 249 questões filtradas. Aumente o número de questões.</span></div>
        <div class="container-escala__mais"><span class="container-escala__font">+</span></div>
      </div>
      <div class="restante">
        <div class="restante__text">149 questões <span class="restante__text-final">restantes no filtro selecionado.</span></div>
      </div>
      <div class="btn-realizar">
        <div class="btn-realizar__prova">realizar prova</div>
      </div>
    </div>
  </div>
</div>

