.simulado__item--capa1{
	background:url(../img/sim_124.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa2{
	background:url(../img/sim_124_59.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa3{
	background:url(../img/sim_30.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa4{
	background:url(../img/sim_30_32.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa5{
	background:url(../img/sim_59.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa6{
	background:url(../img/sim_geral.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa7{
	background:url(../img/sim_86.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa8{    
	background:url(../img/sim_59_124.png)no-repeat center center;
	background-size: cover;
}
.simulado__item--capa9{    
	background:url(../img/sim_124.png)no-repeat center center;
	background-size: cover;
}