:root {
  --med-color-brand-1: #0a515c;
  --med-color-brand-2: #0f7888;
  --med-color-brand-3: #14a2b8;
  --med-color-brand-4: #47d5eb;
  --med-color-brand-5: #a3eaf5;
  --med-color-neutral-1: #121616;
  --med-color-neutral-2: #293132;
  --med-color-neutral-3: #c1cbcd;
  --med-color-neutral-5: #899C9F;
  --med-color-neutral-6: #6E8386;
  --med-color-neutral-8: #404D4F;
  --med-color-neutral-10: #f9fafa;
  --med-color-neutral-15: #1e2424;
}
