@use"../abstracts/variables";


.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 16px;

    &__image {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 328px;

        background: linear-gradient(to left bottom,
                #BF9F40,
                #BF4040);
        border-radius: 8px;
        padding: 20px;

        p {
            font-size: 1.5rem;
            font-weight: bold;
        }

        svg {
            height: 31px;
            width: 31px;
        }


    }

    &__description {
        font-size: 0.875rem;
        color: variables.$color-text-main;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        align-items: center;

        @media (max-width: 992px) {
            gap: 8px;
        }



    }

    &__txt {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    &__label {
        gap: 8px;
        color: variables.$color-text-secondary;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__stats {
        font-size: 0.875rem;
        font-weight: bold;
    }

    &__percentage {
        font-size: 1.25rem;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        flex: 0 0 380px;

        &__image {
            height: 340px;
        }
    }

    @media (max-width: 568px) {
        flex: 0 0 280px;

        &__image {
            height: 240px;
        }
    }




}