.estiloBotao2{
    background-color: rgb(41, 40, 40);
    border: none;
    padding: 10px;
    padding-top: 15px;
}

.segundaBarra{
    background-color: rgb(41, 40, 40);
    text-align: center;
}

.input{
    width: 80%;
    color: grey;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
}