@mixin display-flex{
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-centraliza {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin cursor{
    cursor : pointer;
}