.aulas {
    text-align: center;
    font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    .aulas {
        max-height: -webkit-fill-available;
    }

}