.apostilas {
    height: -webkit-fill-available;
    display: block;
    padding: 0 6rem;
}

.desktop, .tablet, .mobile{
    display: none;
}

.reset-texto{
    font-size: 1rem;
}

hr {
    border-style: inset;
    opacity: .2;
    border-width: 1px;

    margin: 1rem 0;
}

.principal {
    width: 100%;
    padding-left: 10px;
    font-family: sans-serif;
}

.visualizacao {
    background-image: url(../imagens/bg-deitado.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    background-color: #000;
    
    float: right;
    height: -webkit-fill-available;
    width: 70%;
}
