.menu-inferior {
    background-color: transparent;

    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    z-index: 99;

    transition: all 1s ease-in-out;
}

@media only screen and (min-width: 1024px) {
    .menu-inferior {
        top: 0;
        left: 0;
        width: 20%;
        height: 100% !important;
    }
}

.menu-inferior::after {
    content: "";
    display: block;
    width: 100%;
    height: -webkit-fill-available;
    background-color: #fff;
    top: -25px;
    position: relative;
}


/* -----aba de navegacao---- */
.aba-navegacao {
    width: 100%;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: -30px;
    z-index: 1;
}

.aba-navegacao::after,
.aba-navegacao::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 48px;
    top: 12px;

    background-color: transparent;
}

.aba-navegacao::after {
    left: 2px;
    top: 30px;
    border-bottom-left-radius: 100%;
    box-shadow: 0px -16px 0 -3px #fff inset, -10px 10px #fff;
    z-index: -1;
}

.aba-navegacao::before {
    right: 2px;
    top: 30px;
    border-bottom-right-radius: 100%;
    box-shadow: 0px -16px 0 -3px #fff inset, 10px 10px #fff;
    z-index: -1;
}

@media only screen and (min-width: 1024px) {
    .aba-navegacao {
        top: 0;
        text-align: left;
        padding: 20px 1px 0 20px;
    }
    .aba-navegacao::after, 
    .aba-navegacao::before {
        display: none;
    }
}

/* ########################### */


/* ----- icone botao med ---- */
.icone-botao-med {
    display: inline-block;

    background-color: orangered;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 5px;

    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.icone-botao-med::after {
    content: "";
    width: 70px;
    height: 70px;
    position: relative;
    display: block;
    z-index: -1;
    top: -43px;
    border-radius: 50%;
    left: -10px;

    background-color: #fff;
    box-shadow: 0px 20px 0 8px #fff;
}

.icon-newmenu_cross::before {
    font-size: 30px;

    position: relative;
    top: 10px;
    left: 1px;
}

@media only screen and (min-width: 1024px) {
    .icone-botao-med::after {
        display: none;
    }
}

/* ########################### */


/* -----saudacoes----- */
.saudacao-usuario {
    background-color: #fff;
    height: 90px;
    width: 100%;
    top: -25px;
    position: relative;
    padding: 45px 5px 0;
    text-align: center;

    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
}

@media only screen and (max-width: 565px) {
    .saudacao-usuario {
        height: 75px;
    }
}

.saudacao,
.usuario {
    display: inline-block;
}

@media only screen and (min-width: 1024px) {

    .saudacao,
    .usuario {
        display: block;
        text-align: left;
        padding: 0 20px;
    }
}

/* ####################### */


/* -----categorias----- */
.grupo-categorias-menu {
    background-color: #fff;
    top: -25px;
    position: relative;
    padding: 0 20px 30px;

    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

@media only screen and (max-height: 565px) {
    .grupo-categorias-menu {
        padding: 0 10px 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .grupo-categorias-menu {
        padding: 0px 0 0 20px;
        display: flex;
        flex-direction: column;
    }

    .grupo-categorias-menu::before {
        content: "";
        width: 80%;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.473);
    }
}

.nome-grupo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: darkblue;

    margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
    .nome-grupo {
        display: block;
        text-align: left;
        padding:0 10px;
        color: #000;
    }

    .nome-grupo:before,
    .nome-grupo:after {
        display: none;
    }
}

.nome-grupo:before,
.nome-grupo:after {
    content: '';
    color: gray;
    border-top: 1px solid;
    margin: 0 20px 0 10px;
    flex: 1 0 20px;
}

.nome-grupo:after {
    margin: 0 10px 0 20px;
}


.categoria {
    width: 33.333333%;
    height: 70px;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 1em;
    text-align: center;

    color: darkblue;
    font-size: .8em;
    font-weight: bold;
}

.grupo-categorias-menu .categoria::before {
    font-size: 30px;
    /* margin-right: 15px; */
    display: block;
    min-width: 30px;
    min-height: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-height: 565px) {
    .categoria {
        height: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .categoria {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 15px 0 30px;
        color: #000;
    }

    .grupo-categorias-menu .categoria::before {
        margin-right: 15px;
    }
}

.categoria__texto {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.categoria:active::after {
    content: "";
    width: 80%;
    margin: 5px auto 0;
    display: block;

    border-bottom: 2px solid lightblue;
}

@media only screen and (min-width: 1024px) {
    .categoria:active::after {
        display: none;
    }
    .categoria:active::before {
        border-left: 5px solid lightblue;
        margin-right: 10px;
    }
}

.divisoria {
    border-right: 1px solid gray;
}

@media only screen and (min-width: 1024px) {
    .divisoria {
        border-right: none;
    }
}