.menu-inferior {
    transition: all 0.8s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15vh;
    width: 100%;
    background-color: transparent;
    color: #000;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {
    .menu-inferior {
        display: block;
    }
}

@media only screen and (min-device-width : 1024px) {
    .menu-inferior {
        display: none;
    }
}