.grupo--mobile {
    background-color: #fff;
    text-align: left;
}

.link {
    display: inline-block;
    min-width: 32%;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.link.last {
    min-width: 30%;
    text-align: center;
}

.link:hover{
    border-bottom: 1px solid #32a1bb;
}

span.icon-icon_newmain.icone {
    font-size: 1.7rem;
    display: block;
}

.separador-direita {
    border-right: 1px solid rgb(172, 173, 174, .3)
}

.opcoes-mobile{
    padding: 0 2rem;
    background-color: #fff;
    min-height: -webkit-fill-available;
}