.selecao-curso {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.selecao-curso:active,
option:active,
option,
option::selection {
    background-color: #000;
    color: #fff;
}