.semana {
    color: #fff;
    width: 140px;
    display: inline-block;
    font-size: .9rem;
    margin-bottom: 1rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width:1023px) {

    .semana {
        width: 48%;
    }

    .semana>span {
        display: none;
    }

}