<mat-drawer-container class="today-to-do-list__container" autosize>
  <mat-drawer #drawer class="today-to-do-list__sidenav" [position]="'end'" [mode]="mode">
    <div class="today-to-do-list__sidenav-text">Suas tarefas de hoje</div>
    <div class="outer-cards">
      <div *ngFor="let task of tasks">
        <app-card
          [title]="task.title"
          [category]="task.category"
          [schedule]="task.schedule"
          [icon]="task.icon"
        />
      </div>
    </div>
  </mat-drawer>

  <div class="today-to-do-list__content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <svg class="today-to-do-list__icon">
        <use xlink:href="./assets/icons/side-toogle.svg#icon-side-toogle"></use>
      </svg>
    </button>
  </div>
</mat-drawer-container>
