@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  width: 365px;
}
/*conteudo1*/
.card1 {
  background: #070e0e;
  border-radius: 0 417px 439px 0;
  display: flex;
  border-radius: 65px 178px 178px 65px;
}
.conteudo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
}
p.texto1 {
  font-size: 1rem;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}
span.semana1 {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  margin-left: 0.2rem;
}

.card-script1 {
  display: flex;
  margin: 10px 0;
}
.do-flip {
  transform: rotateY(-180deg);
}
.card.active {
  background-color: #005c49;
}
/*flip-card*/
#flip-card {
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#flip-card .card1 {
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card .card2 {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* barra progresso */
.progress {
  height: 100px;
  width: 110px;
  border-radius: 50%;
  margin-right: 12px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  display: grid;
  place-items: center;
}
.progress-number {
  color: #fff;
}
.progress-number.active {
  color: #00d2b3;
}
.progress-value {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #070e0e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
}
button {
  height: 26px;
  width: 27px;
  margin-left: 9px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 0;
  background: #070e0e;
}
#button1 .fa-solid {
  display: flex;
  color: #00f4d1;
  margin-left: 0px;
  border: 2px solid;
  border-radius: 50%;
  height: 26px;
  width: 27px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

/* 2º conteudo */

.card2 {
  background: #070e0e;
  border-radius: 65px 178px 178px 65px;
  display: flex;
  margin-top: 0px;
  height: 120px;
}
.card2.active {
  background-color: #005c49;
}
.conteudo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
}
p.texto2 {
  font-size: 1rem;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}
data.semana2 {
  font-size: 1.2rem;
  display: block;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  margin-left: 0.2rem;
}
.card-script2 {
  display: flex;
  margin: 10px 0;
}
#button2 .fa-solid{
  display: flex;
  color: #00f4d1;
  margin-left: 0px;
  border: 2px solid;
  border-radius: 50%;
  height: 26px;
  width: 27px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
/*icon*/
.button5 .fa-solid {
  display: flex;
  color: #00f4d1;
  margin-top: -2px;
  border: 2px solid;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  background: #000;
}
button.button5 {
  height: 26px;
  width: 27px;
  margin-left: 0px;
  margin-right: -26px;
  margin-top: 71px;
  border-radius: 50%;
  z-index: 1;
  border: 0;
  background: #070e0e;
}

/*3º conteudo*/
#flip-card2{
  margin-top: 20px;
}
.card3 {
  background: #070e0e;
  border-radius: 65px 178px 178px 65px;
  display: flex;
  height: 120px;
}
.card3.active {
  background-color: #005c49;
}
.conteudo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}
.text3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
  
}
p.texto3 {
  font-size: 1rem;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}
span.semana3 {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  margin-left: 0.2rem;
}
.card-script3 {
  display: flex;
  margin: 10px 0;
}
#button3 .fa-solid{
  display: flex;
  color: #00f4d1;
  margin-left: 0px;
  border: 2px solid;
  border-radius: 50%;
  height: 26px;
  width: 27px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
/*4ºconteudo*/
.card4 {
  background: #070e0e;
  border-radius: 65px 178px 178px 65px;
  display: flex;
  height: 120px;
}
.card4.active {
  background-color: #005c49;
}
.conteudo4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}
.text4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
}
p.texto4 {
  font-size: 1rem;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}
data.semana4 {
  font-size: 1.2rem;
  display: block;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  margin-left: 0.2rem;
}
.card-script4 {
  display: flex;
  margin: 10px 0;
}
#button4 .fa-solid{
  display: flex;
  color: #00f4d1;
  margin-left: 0px;
  border: 2px solid;
  border-radius: 50%;
  height: 26px;
  width: 27px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
/*flip-card*/
#flip-card2 {
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#flip-card2 .card3 {
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card2 .card4 {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*active icon*/

.icon.active {
  color: #000;
  background: #00ebca;
  border: #00ebca;
}