<aside class="container">
  <nav class="container__navigation">
    <ul>
      <li>
        <div class="container__navigation__icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="'./assets/icons/icon-home.svg#icon-home'"
            ></use>
          </svg>
        </div>
        <span class="container__navigation__text">Pra você</span>
      </li>
      <li>
        <div class="container__navigation__icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="'./assets/icons/icon-play.svg#icon-play'"
            ></use>
          </svg>
        </div>
        <span
          class="container__navigation__text"

          >Conteúdos</span
        >
      </li>
      <li>
        <div class="container__navigation__icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="
                './assets/icons/icon-calendar.svg#icon-calendar'
              "
            ></use>
          </svg>
        </div>
        <span
          class="container__navigation__text"

          >Mentoria</span
        >
      </li>
      <li>
        <div class="container__navigation__icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="'./assets/icons/icon-smart.svg#icon-smart'"
            ></use>
          </svg>
        </div>
        <span
          class="container__navigation__text"

          >Treinamento</span
        >
      </li>
      <li>
        <div class="container__navigation__icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="'./assets/icons/icon-home.svg#icon-home'"
            ></use>
          </svg>
        </div>
        <span
          class="container__navigation__text"
          
          >Métricas</span
        >
      </li>
    </ul>
  </nav>
</aside>
