<div class="sidebar">
  <div class="sidebar__profile">
    <div class="sidebar__profile-container">
      <img
        class="sidebar__profile-image"
        [src]="user().avatar"
        alt="Foto de perfil"
      />
      <span
        [ngClass]="user().notifications ? 'sidebar__notification-dot' : ''"
      ></span>
    </div>
  </div>
  <nav class="sidebar__navigation">
    <ul class="sidebar__navigation-list">
      <li *ngFor="let item of navigation()" class="sidebar__navigation-item">
        <div class="sidebar__navigation-item-icon">
          <svg class="icon">
            <use
              [attr.xlink:href]="
                './assets/icons/' + item.icon + '.svg#' + item.icon
              "
            ></use>
          </svg>
        </div>

        <div class="sidebar__navigation-title">
          {{ item.title }}
        </div>
      </li>
    </ul>
  </nav>
  <footer class="sidebar__footer">
    <svg class="icon">
      <use
        [attr.xlink:href]="
          './assets/icons/ProductSwitcher.svg#ProductSwitcher'
        "
      ></use>
    </svg>
  </footer>
</div>
