<div class="treinamento" id="bt2">

  <div class="folder">
    <div (click)="onselect()" class="folder__btn">
      <img src="../../assets/icon/newmenu_cross.svg" alt="">
    </div>
  </div>
<div class="treinamento__lista">
  <legend>
    <h2>Olá, Rafael</h2>
  </legend>
  <div class="items-grid">
      <li data-id="1">
          <img src="../../assets/icon/icon_newmain.svg" alt="Main">
          <span>Main</span>
      </li>
      <li data-id="2">
          <img src="../../assets/icon/icon_newmedcode.svg" alt="Medcode">
          <span>Medcode</span>
      </li>
      <li data-id="3">
          <img src="../../assets/icon/icon_newslideaula.svg" alt="Slide de Aula">
          <span>Slide de Aula</span>
      </li>
      <li data-id="4">
          <img src="../../assets/icon/icon_newacademicas.svg" alt="Dúvidas Acadêmicas">
          <span>Dúvidas Acadêmicas</span>
      </li>
  </div>

  <legend>
    <h2>Área de Treinamento</h2>
  </legend>
  <div class="items-grid">
      <li data-id="5">
          <img src="../../assets/icon/icon_newsimu.svg" alt="Simulados">
          <span>Simulados</span>
      </li>
      <li data-id="6">
          <img src="../../assets/icon/icon_newsimu.svg" alt="Simulado R3 Cirurgia">
          <span>Simulado R3 Cirurgia</span>
      </li>
      <li data-id="7">
          <img src="../../assets/icon/icon_newsimu.svg" alt="Multimídia CP=MED">
          <span>Multimídia CP-MED</span>
      </li>
      <li data-id="8">
          <img src="../../assets/icon/icon_newintegra.svg" alt="Concursos na Integra">
          <span>Concursos na Integra</span>
      </li>
      <li data-id="9">
        <img src="../../assets/icon/icon_newmonta.svg" alt="Monta Provas">
        <span>Monta Provas</span>
    </li>
  </div>
</div>
</div>
