<main class="main p-0">
  <app-sidebar />

  <div class="main__content">
    <p class="main__title">Conteúdos da semana</p>
    <div class="main__conteudos">
      <div class="card">
        <div
          class="card__image"
          style="
            height: 200px;

            background-color: orange;
          "
        ></div>
        <div class="card__body">
          <div class="card__header">
            <p class="card__text">glomerulopatia 1</p>
          </div>
          <div class="card__infos">
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>aulas</p>
              </div>
              94%
            </div>
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>apostila</p>
              </div>
              94%
            </div>
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>questoes</p>
              </div>
              34%
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card__image"
          style="
            height: 200px;

            background-color: orange;
          "
        ></div>
        <div class="card__body">
          <div class="card__header">
            <p class="card__text">glomerulopatia 1</p>
          </div>
          <div class="card__infos">
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>aulas</p>
              </div>
              94%
            </div>
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>apostila</p>
              </div>
              94%
            </div>
            <div>
              <div class="card__icon">
                <div>icon</div>
                <p>questoes</p>
              </div>
              34%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="right-todo-list">
    <app-todayTodoList [tasks]="tasks" />
  </aside>
  <section class="section-todo-mobile">
    <app-section-todo-mobile [tasks]="tasks" />
  </section>
  <footer class="footer-mobile">
    <app-footer-mobile />
  </footer>
</main>
