*{
    margin: 0;
    padding: 0;    
    font-family: Questrial;
}
body {
    background: url(../../img/bg.jpg) no-repeat fixed;
    background-size: cover;
}
.navbar {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;  
}
.menu-cursos {
    display: flex;
    flex-direction: row;
}
.select-cursos {
    background-color: rgba(0, 0, 0, .0);
    color: #fff;
    border: none;
    text-align: center;
    text-align-last: center;
    font-family: Roboto-Bold;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 6px 0;
}
.select-cursos:focus {
    outline: 0;
}
.select-cursos option {
    background-color: #000;
}
.notificacao {
    position: relative;
    right: 20px;
    top: 10px;
}
.notificacao img {
    width: 20px;
    height: 20px;
    opacity: .3;
}
.notificacao img:hover {
    opacity: 1;
}
.list-conteudo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    text-align: center;
    font-size: .9em;
}
.list-conteudo a {
    text-decoration: none;
    padding-bottom: 17px;
    color: #fff;
    font-family: Roboto-Bold;
    font-weight: bold;
}
.list-conteudo a:hover {
    color: #fff;
}
.list-conteudo li {
    margin: 0 50px;
    padding-bottom: 10px;
}
.list-conteudo li:hover{
    border-bottom: 2px solid #2abfe1;
}