<div class="content">
  <div class="container">
    <button class="accordion">Teste</button>
    <div class="accordion-content">
      <div class="total-questoes">
          <div class="total-questoes__circle">
            <span class="total-questoes__text">Total de <span class="total-questoes__text-number">100 </span>questões</span>
          </div>
      </div>
      <div class="status-ranking">
        <ul class="status-ranking__itens">
          <li class="status-ranking__item">
            <span class="status-ranking__texto-acerto">Acertos</span>
            <span class="status-ranking__nota-acertos">0</span>
          </li>
          <li class="status-ranking__item">
            <span class="status-ranking__texto-erros">Erros</span>
            <span class="status-ranking__nota-erros">0</span>
          </li>
          <li class="status-ranking__item">
            <span class="status-ranking__texto-realizacao">Não Realizados</span>
            <span class="status-ranking__nota-realizacao">0</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
